* {box-sizing: border-box;}

    .wrapper {
        max-width: 1024px;
        margin: 0 auto;
        font: 1.2em Helvetica, arial, sans-serif;
    }

    .wrapper > * {
        border: 2px solid blue;
        background-color: skyblue;
        border-radius: 5px;
        padding: 10px;
    } 

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
.main-head {
  grid-area: header;
}
.content {
  grid-area: content;
}
.main-nav {
  grid-area: nav;
}
.side {
  grid-area: sidebar;
}
.ad {
  grid-area: ad;
}
.main-footer {
  grid-area: footer;
}
.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "header" "nav""content""sidebar""ad""footer";
}
@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "header  header""nav     nav""sidebar content""ad      footer";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "header header  header""nav    content sidebar""nav    content ad" "footer footer  footer"
   }
   nav ul {
     flex-direction: column;
   }
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}
ul li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
ul li a:hover {
  background-color: #555;
  color: white;
}

blockquote {
  background: #009efa;
  border-left: 10px solid rgb(20, 92, 121);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: rgb(0, 0, 0);
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
img {
  width: 100%;
  height: auto;
  border: 2px solid blue;
}
body{
  background-image:url('multimedia/imagen0.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.transparencia{
  opacity: 0.5;
}
path{
  width: 100%;
  height: auto;
}
svg{
  width: 100%;
  height: auto;
}

.galeria {
  height: calc( 118px + 3em);
  width: 260px;
  margin: auto;
  border: 3px solid #555;
  position: relative;  
}

.galeria img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 3s;
}

.galeria input[type=radio] {
  position:  relative;
  bottom: calc(-150px - 1.5em);
  left: -0,9em;
}

.galeria input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(3):checked ~ img:nth-of-type(3) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(4):checked ~ img:nth-of-type(4) {
  opacity: 1;
}