/*CSS GRID*/
* {box-sizing: border-box;}

    .wrapper {
        max-width: 1024px;
        margin: 0 auto;
        font: 1.2em Helvetica, arial, sans-serif;
    }

    .wrapper > * {
        border: 2px solid rgba(198, 247, 206, 0.829);
        background-color: rgba(255, 237, 196, 0.856);
        border-radius: 5px;
        padding: 10px;
    } 

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
.main-head {
  grid-area: header;
}
.content {
  grid-area: content;
}
.main-nav {
  grid-area: nav;
}
.side {
  grid-area: sidebar;
}
.ad {
  grid-area: ad;
}
.main-footer {
  grid-area: footer;
}
.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "header" "nav""content""sidebar""ad""footer";
}
@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "header  header""nav     nav""sidebar content""ad      footer";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "header header  header""nav    content sidebar""nav    content ad" "footer footer  footer"
   }
   nav ul {
     flex-direction: column;
   }
}

/*MENU*/

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: rgba(255, 237, 196, 0.856);
}

ul li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
ul li a:hover {
  background-color: rgba(198, 247, 206, 0.829);
  color: white;
}
/*ANOTACION*/
blockquote {
  background: #009efa;
  border-left: 10px solid rgb(20, 92, 121);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: rgb(0, 0, 0);
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/*IMAGENES*/

img {
  width: 100%;
  height: auto;
  border: 2px solid blue;
}
body{
  background-image:url('multimedia/imagen0.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.transparencia{
  opacity: 0.5;
}
path{
  width: 100%;
  height: auto;
}
svg{
  width: 100%;
  height: auto;
}

/*GALERIA*/

.galeria {
  height: calc( 118px + 3em);
  width: 260px;
  margin: auto;
  border: 3px solid #555;
  position: relative;  
}

.galeria img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 3s;
}

.galeria input[type=radio] {
  position:  relative;
  bottom: calc(-150px - 1.5em);
  left: -0,9em;
}

.galeria input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(3):checked ~ img:nth-of-type(3) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(4):checked ~ img:nth-of-type(4) {
  opacity: 1;
}

/*TABLAS y FORMULARIOS*/

table 
{ 
		width: 100%; 
		border-collapse: collapse; 
}

tr:nth-of-type(odd)
{ 
		background: #eee; 
}
tr:nth-of-type(even)
{ 
		background: whitesmoke; 
}

th 
{ 
		background: #333; 
		color: white; 
		font-weight: bold; 
}
td, th 
{ 
		padding: 6px; 
		border: 1px solid whitesmoke; 
		text-align: left; 
}

/*MULTIMEDIA*/

video{
  width: 100%
}
audio{
  margin: 0 auto; 
  display: table;
}

/*LINKS*/

a:link {
  color: rgb(0, 0, 0);
}

a:visited {
  color: rgb(0, 0, 0);
}

a:hover {
  color: rgb(212, 224, 99);
}

a:active {
  color: rgb(145, 19, 134);
}

/*PSEUDO CLASS*/
p.mayus:first-letter
{
   float:left;
   color:black;
   border:1px solid #999999;
   font-size:80px;
   line-height:60px;
   padding:2px;
   font-family:times;
   margin-right: 5px;   
}

iframe{
  width: 99%;
}

/*FAMILIA DE FUENTES*/
p {
  font-family: "Mystery Quest", cursive;
  font-size: 150%;
}
blockquote{
  font-family: 'Srisakdi', cursive;
  font-size: 150%;
}

/*tooltip*/

.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(255, 139, 139);
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 9px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/*Animacion*/